header {
    .navbar-dark .navbar-nav .nav-link:hover {
        color: orange;
    }
}

#app {
    background: linear-gradient(rgb(99, 102, 193), rgb(236, 251, 220), rgb(255, 255, 255));

    .banner {

        .carousel-caption h2 {
            font-size: 4.5rem;
            color: whitesmoke;
            filter: contrast(200%) drop-shadow(0 0 5px black);
        }

        .carousel-caption p {
            font-size: 1.5rem;
            color: whitesmoke;
            filter: contrast(200%) drop-shadow(0 0 5px black);
        }

        .carousel-item img {
            width: 100vw;
            height: 50vh;
            object-fit: cover;
        }

        .carousel-control-next,
        .carousel-control-prev,
        .carousel-indicators {
            filter: invert(90%);
        }

    }

    @media (max-width: 768px) {
        .banner .carousel-caption h2 {
            font-size: 2.0rem;
        }

        .banner .carousel-caption p {
            font-size: 1.0rem;
        }

        .banner .carousel-caption .btn {
            font-size: 0.8rem;
            padding: 0.5rem 1rem;
        }
    }

    .inputs {
        .input-group-text {
            background-color: whitesmoke;
            border: none;
        }
    }


    .cards {

        .cards-i {
            border: 2px solid #330113;
            transition: ease .2s;
            height: 80% !important;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 10px black;
                margin: 4vh;
            }
        }

        .card-text {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .go-details {
            background-color: #D90368;
            color: whitesmoke;
            font-weight: bold;

            &:hover {
                box-shadow: 0 0 10px black;
            }
        }
    }

    .cardDetails {
        background-color: white;
        border: 2px solid #330113;
    }

    .card {
        margin: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .card-body p {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .text-warning {
        color: #ffc107 !important;
    }

    .text-info {
        color: #17a2b8 !important;
    }

    .tablas {

        thead,
        th {
            color: white;
            text-align: center;
        }
    }

    .container-form {
        form {
            background-color: #212529;
            padding: 1vw;
            border-radius: 10px;
            color: whitesmoke;

            button {
                background-color: #D90368;
                color: whitesmoke;
                font-weight: bold;

                &:hover {
                    transition: ease .2s;
                    background-color: whitesmoke;
                    color: #D90368;
                    font-weight: bold;
                }
            }
        }
    }
}

#floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.modal-backdrop {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}

.mt-auto {
    justify-content: center !important;
}

.carta_modal {
    width: 300px;
    display: flexbox;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    .go-detail {
        margin-bottom: 1vw;
        background-color: red;
        color: whitesmoke;
        font-weight: bold;
        justify-content: center;

        &:hover {
            box-shadow: 0 0 10px black;
        }
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    a {
        text-decoration: none;
    }
}

.video {
    flex: 1;
}

.texto {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

h2 {
    text-align: center;
    /* Centra el texto del h2 */
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);

.team4 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
}

.team5 {
    font-family: "Montserrat", sans-serif;
    color: #212529;
    font-weight: 350;
}

.team4 h1,
.team4 h2,
.team4 h3,
.team4 h4,
.team4 h5,
.team4 h6 {
    color: #3e4555;
}

.team4 .font-weight-medium {
    font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
    font-size: 13px;
}

.team4 ul li a {
    color: #8d97ad;
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.team4 ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
    color: #316ce8;
}